
.account{
	padding-top: 65px;
	text-align: center;
	position: relative;
}
.account d1{
	list-style: none;
}
.account d1 dt{
	width: 150px;
	height: 54px;
	background: #0083ff;
	display: inline-block;
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	vertical-align: middle;
}
.account d1 dd{
	display: inline-block;/*display 灞炴�ц瀹氬厓绱犲簲璇ョ敓鎴愮殑妗嗙殑绫诲瀷,inline-block琛屽唴*/
	width: 200px;
	height: 45px;
	font-size: 16px;
	border: 1px solid #0083FF;
	vertical-align: middle;/*vertical-align 灞炴�ц缃厓绱犵殑鍨傜洿瀵归綈鏂瑰紡,middle浣嶄簬鐖跺厓绱犵殑涓棿*/
	line-height: 45px;
	margin-left: -10px;
	z-index: 999;
	background: #FFFFFF;
	color:#0083FF;
	overflow: hidden;/*overflow 灞炴�ц瀹氬綋鍐呭婧㈠嚭鍏冪礌妗嗘椂鍙戠敓鐨勪簨鎯�,hidden涓哄唴瀹逛細琚慨鍓紝骞朵笖鍏朵綑鍐呭鏄笉鍙鐨�*/
}
.account  p{
	line-height: 111px;
	color: #0083FF;
	font-size: 18px;
	
}
.account-center{
	display: table-cell;
	-webkit-border-radius: 50%;
	background: url(../img/2.jpg) no-repeat center center  ;
	width: 129px;
	height: 129px;
	position: absolute;
	top: 125px;
	left: -65px;
	color: white rgb(255,255,255 ); 
	font-size: 30px;
	text-align: center;
	
	
}


.page{
	width:800px;
	height:100px;
	margin-left:25%;
	text-align:center;
}
